.card-container {
  max-width: 400px;

  border-radius: 5em;
  max-height: 2.3em;
  border: #80808059 solid 1px;
  border-bottom: none;
  border-right: none;
  border-left: none;

  display: flex;
  justify-content: space-between;
  align-content: center;

  margin-bottom: 2em;
}

.card-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-card-actions {
  margin-right: 1em;
  cursor: pointer;
}
