<div *ngIf="card">
    <div class="container">
        <form class="contact-form">

            <mat-form-field class="contact-input">
                <input name="dispalyName" matInput="matInput" [(ngModel)]="card.DisplayName"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="FirstName" matInput="matInput" [(ngModel)]="card.FirstName"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="LastName" matInput="matInput" [(ngModel)]="card.LastName"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="Department" matInput="matInput" placeholder="Department" [(ngModel)]="card.Department"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="Gender" matInput="matInput" placeholder="Gender" [(ngModel)]="card.Gender"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="Notes" matInput="matInput" [(ngModel)]="card.Notes"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="Categories" matInput="matInput" placeholder="Categories" [(ngModel)]="card.Categories"></mat-form-field>

            <mat-form-field class="contact-input">
                <input name="email" matInput="matInput" [(ngModel)]="card.EmailAddress"></mat-form-field>

            <button mat-flat-button="mat-flat-button" color="accent" (click)="saveCard()">Submit</button>
        </form>
    </div>
</div>